<div class='column is-2 mr-4'>
</div>
<div class='column is-2 fix'>
	
	<nav class='contai'>
		<span class='is-block has-text-centered'>
			<i class="fa fa-twitter has-text-info fa-3x" aria-hidden="true"></i>
		</span>
    
		<a class="is-block">
			<button class="button is-rounded ww has-text-info">
				<i class="fa fa-home fa-lg" aria-hidden="true"></i>
				Home
			</button>	
		</a>
		<a class="is-block">
			<button class="button is-rounded ww">
				<i class="fa fa-hashtag fa-lg" aria-hidden="true"></i>
				Explore
			</button>	
		</a>
		<a class="is-block ">
			<button class="button is-rounded ww">

				<i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>

				Notifications
			</button>		
		</a>
		<a class="is-block">
			<button class="button is-rounded ww">

				<i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>	
				Messages
			</button>
		</a>
		<a class="is-block">
			<button class="button is-rounded ww">

				<i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
				Save
			</button>	
		</a>
		<a class="is-block">

			<button class="button is-rounded ww">

				<i class="fa fa-list fa-lg" aria-hidden="true"></i>
				Lists
			</button>	
		</a>
		<a class="is-block">

			<button class="button is-rounded ww">

				<i class="fa fa-user fa-lg" aria-hidden="true"></i>
				Profile
			</button>	
		</a>
		<a class="is-block">

			<button class="button is-rounded ww">

				<i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
				More
			</button>	
		</a>
    </nav>
</div>