
<section class='section '>
  <div class='container xx'>
    <div class='columns'>
      <%= render 'menu' %>
      <%= render 'feed' %>
      <%= render 'who_to_follow' %>
    </div>

  </div>

</section>

